<%- include("partials/header.ejs") %>

<h1>Edit Post</h1>
<form action="/edit/<%=postId %>" method="post">
    <label for="title" class="col-form-label-lg"><b>TITLE</b></label>
    <input type="text" id="title" name="title" class="feedback-input" value="<%= post.title %>" required>
    <br>
    <label for="content" class="col-form-label-lg"><b>CONTENT</b></label>
    <textarea id="content" name="content" class="feedback-input" required><%= post.content %></textarea>
    <br>
    <button type="submit" value="submit">EDIT</button>
</form>

<%- include("partials/footer.ejs") %>